
<div ng-controller="SandboxPartialCtrl" ng-init="init()">

    <div class="animated bounceInRight">
        <div class="panel-inner-content">
            <h4 class="static-device-status">Device Status:</h4>
            <div class="panel panel-success">
                <div class="panel-body">
                    <h4 class="dynamic-device-status">{{lmDeviceStatus}}</h4>
                </div>
            </div>

            <h4 class="static-device-status">Number Fingers:</h4>
            <div class="panel panel-info">
                <div class="panel-body">
                    <h2 class="dynamic-device-status">{{lmNumFingers}}</h2>
                </div>
            </div>

            <canvas id="canvas-sandbox" class="canvas-sandbox"></canvas>
        </div>
    </div>

</div>